:root {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
  color: rgb(45, 50, 72);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(185, 75%, 39%);
  font-family: "Kumbh Sans", sans-serif;
}
.img {
  position: fixed;
}
.top-left {
  top: -65%;
  left: -20%;
}
.bottom-right {
  bottom: -90%;
  right: -10%;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(185, 75%, 39%);
}

.card {
  z-index: 1;
}

.timeline img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.profile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-top: -70px;
}

.profile img {
  border-radius: 50%;
  border: 5px solid white;
}

.profile > div {
  text-align: center;
}

.profile > div > h2 {
  margin-bottom: 10px;
  color: rgb(45, 50, 72);
  font-size: 18px;
}

.profile > div > h2 > small {
  font-weight: normal;
}

.profile > div small {
  color: rgb(106, 111, 129);
  font-size: 14px;
}

.card {
  width: 350px;
  height: 380px;
  background-color: #fff;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 2fr 2fr 1.5fr;
}

.info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgb(106 111 129 / 29%);
  padding: 10px 0;
}
.info div {
  text-align: center;
}
.info p {
  font-size: 14px;
  margin-top: 4px;
}
.info h4 {
  margin-bottom: 0;
}
